footer {
    height: 200px;
    background-color: $violet;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    .redes{
        display: flex;
        justify-content: space-evenly;
        width: 220px;
        margin: 0 auto;
        img{
            width: 30px;
            height: auto;
        }
    }
    .copy{
        margin: 0 auto;
        color: white;
        font-size: 12px;
        margin-top: 15px;
    }
}